// Here you can add other styles
.btn-primary {
	background: $primaryGradient;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	border-color: unset;
	border: 0;
	color: $light;
	font-family: $textButton;
}

.btn-primary:hover {
	color: $light;
	font-family: $textButton;
}

.btn-primary:disabled {
	color: $light;
	font-family: $textButton;
}

h1 {
	color: $dark;
}

.to-btn {
	color: $primary;
	cursor: grab;
}

.btn-fab {
	position: fixed;
	bottom: 4.5%;
	right: 4%;
	font-size: 26px;
	margin: 0;
	border-radius: 50%;
	width: 56px;
	height: 56px;
}