// Variable overrides

$primaryGradient:		linear-gradient(270deg, #FFB341 0%, #FF7A41 100%);
$primary:				#FF9641;
// $secondary:		$gray-300;
// $success:		$green;
// $info:			$light-blue;
// $warning:		$yellow;
// $danger:		$red;
$light:					#F1F1F1;
$dark:					#212121;

$textButton:			'Roboto';